.LoginForm {
  align-self: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  float: none;

  .LoginForm__username-input,
  .LoginForm__password-input {
    width: 438px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    color: $color-pf-black-900;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
  }

  &__form-title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__login-button:hover {
    border-color: $color-pf-blue-200;
    background: $color-pf-white;
    color: $color-pf-blue-200;
  }

  &__button-container {
    width: 440px;
    margin-top: 50px;
  }

  &__choose-lang-dropdown {
    display: inline-block;
    width: 210px;
    height: 33px;
    border-radius: 3px;
    background-color: $color-pf-white;
    color: $color-pf-black-900;
  }

  &__placeholder {
    margin: 0 0 9px;
    color: $color-pf-white;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 500;
  }

  &__toolbar {
    width: 442px;
    margin: 49px 0 0 -6px;
  }

  // sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format

  .btn-link,
  .btn-link:hover {
    border-radius: 3px;
    border-color: $color-pf-white;
    background-image: linear-gradient(to bottom,  $color-pf-blue-600 0,  $color-pf-blue-600 100%);
    color: $color-pf-white;
    text-decoration: none;
  }

  .btn-default,
  .btn-default:hover {
    border-radius: 3px;
    border-color: $color-pf-blue-700;
    background-image: linear-gradient(to bottom,  $color-pf-white 0, $color-pf-white 100%);
    color: $color-pf-blue-700;
  }
  // sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format

  &__login-button {
    width: 126px;
    height: 35px;
    margin-top: -3px;
    margin-left: 103px;
    transition: all .6s ease;
    border-radius: 3px;
    border-color: $color-pf-blue-300;
    background-image: linear-gradient(180deg, $color-pf-blue-300 0, $color-pf-blue-300);
    color: $color-pf-white;
    font-size: 11px;
    text-transform: uppercase;
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .LoginForm {
    padding: 0;
  }
}
