.table-datatable {
  & > thead > th[dragover] {
    border-left: 5px solid red;
  }
  & > thead > tr > td,
  & > tbody > tr > td {
    &.columnResizer,
    &.colForResize {
      width: 4px;
      padding: 0;
      border-right-color: transparent;
    }
  }
}
