.PageTreeSelector {
  &__page-name,
  .TreeNodeExpandedIcon,
  .TreeNodeFolderIcon,
  .RowSpinner {
    margin-left: 10px;
  }

  &__select-area {
    display: table-cell;
    width: 100%;
    outline: 0;
  }

  .TreeNodeFolderIcon {
    color: $color-pf-light-blue-400;
  }

  &__icons-label {
    display: table-cell;
    outline: 0;
  }

  &__column-td--empty {
    .TreeNodeExpandedIcon {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__row--selected {
    background-color: $color-row-selected;
  }

  &__button {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    margin-right: 30px;
    cursor: pointer;

    &--expand {
      margin-left: 4em;
    }
  }
}


// Bootstrap overrides + disabled layer added to table element
// sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format
.table-bordered > tbody > tr > td.PageTreeSelector__column-td {
  padding: 0;
}
.disable-layer {
  cursor: not-allowed;
  z-index: 9;
  pointer-events: none;
  opacity: .5;
}
// sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format
